<footer>
    <div class="footer-grid">
        <div>
            <h3>HELP CENTER</h3>
            <ul>
                <li><a href="#">Telegram Group</a></li>
                <li><a href="#">Discord Server</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

        <div>
            <h3>DOWNLOAD</h3>
            <ul>
                <li><a href="#">Windows</a></li>
                <li><a href="#">macOS</a></li>
            </ul>
        </div>

        <div>
            <h3>TOOLS</h3>
            <ul>
                <li><a href="#">TikTok Video/Photo Downloader</a></li>
                <li><a href="#">Bilibili Video Downloader</a></li>
                <li><a href="#">Pinterest Video/Image/GIF Downloader</a></li>
                <li><a href="#">Facebook Video/Image/GIF Downloader</a></li>
                <li><a href="#">VK Video Downloader</a></li>
                <li><a href="#">Threads Video/Photo/GIF Downloader</a></li>
                <li><a href="#">Suno AI Music Downloader</a></li>
                <li><a href="#">YouTube Video Downloader</a></li>
            </ul>
        </div>

        <div>
            <h3 class="footer-title">
                <a href="#" class="art-text">ARTICLES</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevrons-right h-5 w-5"><path d="m6 17 5-5-5-5"></path><path d="m13 17 5-5-5-5"></path></svg>
            </h3>
            <ul>
                <li><a href="#">How to Quickly Use the Convenient Extension of SnapAny</a></li>
                <li><a href="#">How to Download Douyin Videos Without Watermark</a></li>
                <li><a href="#">Perfect Video and Audio Blender</a></li>
                <li><a href="#">High-resolution Video and Audio Format Conversion</a></li>
            </ul>
        </div>
    </div>

    <hr class="footer-line">

    <div class="footer-bottom">
        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
        </div>
        <p>&copy; 2025 SnapAny. All Rights Reserved.</p>
    </div>
</footer>
